{% extends "layout.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
  <div class="card">
    <div class="card-body p-5 bg-light">
      <h1 class="display-4">Привет!</h1>
      <p class="lead">Task manager поможет с организацией и распределением задач</p>
      <hr>
      <a class="btn btn-primary btn-lg" href="https://github.com/Mirroel-Alvares" target="_blank" rel="noopener noreferrer">Узнать больше об авторе</a>
    </div>
  </div>
</div>
{% endblock %}